.slider {
    width:100vw;
    position: relative;
    box-sizing: border-box;
    height:30vw;
}

.slider i {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:3vw;
    color:#333;
    z-index:100;
}

.fa-chevron-left {
    left:0.5em;
}

.fa-chevron-right {
    right:0.5em;
}

.slides {
    position:relative;
}

.slides div {
    position:absolute;
    left:0;
    right:0;
}

.slides img {
    width:100%;
}

.slide {
    opacity:0;
}
.current {
    opacity:1;
}