* {
  padding: 0;
  border: 0;
  margin: 0;
  text-decoration: none;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
  padding: .75em;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3cd6c5;
  height: 100vh;
}

.creditForm {
  border-radius: 1em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27%;
          flex: 0 0 27%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: .1em;
  background-color: #c8d6d5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 20em;
}

.creditForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creditForm form input {
  border-radius: .35em;
}

.creditForm form .cardType {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.creditForm form .cardType img {
  width: 90%;
}

.creditForm form .inputGroup1 input {
  width: 15em;
  font-size: 1em;
  padding: .45em;
}

.creditForm form .inputGroup2
input {
  width: 15em;
  font-size: 1em;
  padding: .45em;
  margin-top: 1em;
}

.creditForm form .inputGroup3 input {
  width: 5em;
  padding: .45em;
  font-size: 1em;
  margin-top: 1em;
}

.creditForm form .inputGroup4 input {
  width: 3em;
  padding: .45em;
  font-size: 1em;
  margin-top: 1em;
}

.row1 {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row1 .cardType > div {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27%;
          flex: 0 0 27%;
  border-radius: .35em;
  background-color: #f3f3f3;
  padding: 0.25em;
  margin: 0em 0 1em 0;
}

.row1 .cardType > div img {
  width: 100%;
}

.row2 {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row3 {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#invalidInput {
  background-color: #ffb3c3;
  color: black;
}

#validInput {
  background-color: #c8ffb3;
}
/*# sourceMappingURL=styles.css.map */